* {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 20px auto;
}

.bg-dark {
    background-image: url(../img/bg/dark.jpg);
    margin: 0;
}

.bg-white {
    background-image: url(../img/bg/white.jpg);
    background-repeat: repeat;
    margin-bottom: 0;
}

.nav-box {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    padding-top: 10px;
    margin-bottom: 0;
}

.nav-link {
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.25s;
}

.nav-link:hover {
    transform: scale(1.5) translateY(-2px);
    color: black;
}


.main {
    min-height: calc(100vh - 190px);
    margin-bottom: 0;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.link-box-table {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.link-table1,
.link-table2 {
    border: solid px black;
    font-size: 30px;
    text-decoration: none;
    color: black;
    transition: 0.25s;
}


.link-table1:hover {
    color: red;
}

.link-table2:hover {
    color: red;
}

.img {
    display: block;
    width: 250px;
    margin: 10px auto;
}

caption {
    font-size: 30px;
}

.table1-box {
    border: 2px solid black;
    border-collapse: collapse;
    width: 75%;
    margin: 0 auto;
}

td {
    border: 1px solid black;
    height: 50px;
    width: 33.3%;
}

.h56 {
    height: 200px;
}

/* table-2 */

.table2-box {
    border: 2px solid black;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

.table-sub-box {
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

.w28 {
    width: 28%;
}


.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}

.h200 {
    height: 200px;
}

.footer-box {
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    margin-top: 0;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    text-align: center;

}

.footer-text {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}